# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto eol=lf

# Declare files that will always have LF line endings on checkout.
*.conf text eol=lf
*.css text eol=lf
*.html text eol=lf
*.js text eol=lf
*.php text eol=lf
*.scss text eol=lf
*.sh text eol=lf

# Denote all files that are truly binary and should not be modified.
*.gif binary
*.jpg binary
*.mp4 binary
*.png binary
